{ erl_opts, [debug_info] }.
{ deps, [
    { mysql,    { git, "git@github.com:mysql-otp/mysql-otp.git",    { branch, "master" } } },
    { poolboy,  { git, "git://github.com/devinus/poolboy.git",      { branch, "master" } } }
] }.
{ plugins, [
    rebar3_auto,
    rebar3_hex,
    rebar3_run
] }.
{ ct_opts, [{ config, "config/test.config" }] }.